.edit-profile-page {
    margin: 10px;
    width: 100%;
    max-width: 82%;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    /* Set a max height to trigger scrolling */
    max-height: 80vh; /* Adjust as needed */
    overflow-y: auto; /* Enable vertical scrolling */
}

.profile-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    width: auto;
}

.profile-field label {
    font-weight: bold;
    font-size: 1rem;
    flex: 0 0 100px;
    margin-right: 5px;
    color: #333;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

input.input-field {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s;
    max-width: max-content;
}

input.input-field:focus {
    border-color: #007bff;
}

input[type="file"] {
    font-size: 1rem;
}

input:disabled {
    background-color: #e9ecef;
    color: #777;
}

button {
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1px;
    display: inline-flex;
    align-items: center;
    width: auto; /* Adjusts width to fit content */
    min-width: 60px; /* Minimum width to ensure consistent look */
}




button svg {
    margin-right: 5px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.error {
    color: red;
    font-size: 0.85rem;
    margin-top: 5px;
    text-align: left;
    display: block;
}

.loading-dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    z-index: 1000;
}

input[type="email"],
input[type="text"] {
    width: 100%;
}

.non-editable-field {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.non-editable-field label {
    flex-shrink: 0;
    font-weight: bold;
    font-size: 1rem;
    margin-right: 5px;
    white-space: nowrap;
}

.non-editable-field input {
    flex: 1;
    padding: 8px;
    background-color: #e9ecef;
    color: #777;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    margin-left: 5px;
}
