.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( #757F9A, #D7DDE8);
    position: relative;
    margin: 0;
    padding: 0px;
    height: 7.5vh;
    
}

.sidebar-toggle {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
}

.navbar h1 {
    margin: auto;
    text-align: center;
}
